header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

aside {
  padding: 10px;
  background-color: #f9f9f9;
}

img {
  width: 215px;
}

article {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
